.heading--secondary {
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: 2px;
  font-family: $font-primary;
}

.heading--tertiary {
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 2px;
  font-family: $font-primary;
}

.heading--four {
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-family: $font-primary;
}

.paragraph,
.input-label {
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.btn__Main {
  cursor: pointer;
  font-size: 1.4rem;
  color: $color-primary;
  transition: all 0.5s;
  padding: 0.6rem 0.8rem 0.3rem 0.8rem;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
  }

  &:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid $color-primary;
    transform: scale(1.2, 1.2);
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1, 1);
  }
}
