$font-primary: 'Roboto Slab', serif;
$font-secondary: 'Caveat Brush', 'cursive';

$color-primary: #2c3e50;
$color-primary-light: #bdc3c7;

$color-primary-dark: #1f2937;
$color-secondary--dark: #111827;

$color-income: rgba(75, 192, 192, 0.8);
$color-expense: rgba(255, 99, 132, 0.8);
$color-balance: #7dd3fc;
